enabled: true

handlers:
  - com.xlongwei.light4j.handler.ServiceHandler@service
  - com.xlongwei.light4j.handler.UploadHandler@upload
  - com.xlongwei.light4j.handler.WeixinHandler@weixin
  - com.xlongwei.light4j.handler.DemoHandler@demo
  - com.xlongwei.light4j.provider.WebSocketHandlerProvider@websocket
# openapi
  - com.networknt.exception.ExceptionHandler@exception
  - com.xlongwei.light4j.openapi.extend.MyJwtVerifyHandler@security  
  - com.xlongwei.light4j.openapi.extend.MyJwtShiroHandler@shiro  
  - com.networknt.specification.SpecDisplayHandler@spec
  - com.networknt.specification.SpecSwaggerUIHandler@swaggerui
  - com.xlongwei.light4j.openapi.OpenapiHandler@openapi
  - com.networknt.security.JwtMockHandler@jwtmock

chains:
  openapi:
    - exception
    - security
    - shiro
    - openapi

paths:
  - source: com.xlongwei.light4j.handler.ServiceHandler$ServiceEndpointSource
    exec:
      - service
  - path: '/upload/*'
    method: 'POST'
    exec:
      - upload
  - path: '/callback/weixin.xml'
    method: 'GET'
    exec:
      - weixin
  - path: '/callback/weixin.xml'
    method: 'POST'
    exec:
      - weixin
  - path: '/ws/*'
    method: 'GET'
    exec:
      - websocket
# openapi
  - path: '/openapi/spec.yaml'
    method: 'get'
    exec:
      - spec
  - path: '/openapi/swagger'
    method: 'get'
    exec:
      - swaggerui
  - path: '/openapi/token'
    method: 'POST'
    exec:
      - jwtmock
  - source: com.xlongwei.light4j.openapi.OpenapiHandler$OpenapiEndpointSource
    exec:
      - openapi
# demo
  - source: com.xlongwei.light4j.handler.DemoHandler$DemoEndpointSource
    exec:
      - demo
