<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="false" scanPeriod="5 seconds" debug="false">
    <contextName>light4j</contextName>
    <property name="logFile" value="logs/light4j.log"/>
    <property name="logPattern" value="%cn %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{0}:%L %msg%n"/>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>
    
    <!-- ch.qos.logback.core.joran.conditional.PropertyWrapperForScripts -->
    <if condition='isDefined("logserver")'>
	    <then>
			<appender name="SOCKET" class="ch.qos.logback.classic.net.SocketAppender">
				<RemoteHost>logserver</RemoteHost>
				<Port>6000</Port>
				<ReconnectionDelay>10000</ReconnectionDelay>
				<IncludeCallerData>false</IncludeCallerData>
			</appender>
	    </then>
    </if>
    
    <if condition='isDefined("logfile")'>
	    <then>
		    <if condition='property("logfile").isEmpty()'>
			    <then>
				    <property name="logfile" value="${logFile}"/>
			    </then>
		    </if>
		    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		        <file>${logfile}</file>
		        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		            <fileNamePattern>${logfile}.%d{yyyy-MM-dd}</fileNamePattern>
		        </rollingPolicy>
		        <encoder>
		            <pattern>${logPattern}</pattern>
		        </encoder>
		    </appender>
			<appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
				<appender-ref ref="FILE" />
			</appender>
	    </then>
    </if>

	<root level="info">
		<appender-ref ref="STDOUT" />
		<if condition='isDefined("logserver")'>
		    <then>
				<appender-ref ref="SOCKET" />
		    </then>		
		</if>
		<if condition='isDefined("logfile")'>
		    <then>
				<appender-ref ref="ASYNC_FILE" />
		    </then>		
		</if>
	</root>
</configuration>